## Name: Shivkumar G. Chauhan
### Roll No.: CS8A53
### Batch A-3
---
# Experiment - 3 : Explore the inferential statistics on the dataset.

## imports

In [3]:
import pandas
import numpy
import statistics
import scipy.stats
import matplotlib.pyplot as pyplot
import warnings
import random

## Configurations

initializing matplotlib configurations

In [4]:
# %matplotlib qt
%matplotlib inline
pyplot.rcParams["figure.figsize"] = (15, 12)

hiding warnings

In [5]:
warnings.filterwarnings('ignore')

reading dataset

In [17]:
ANOVA_Data=pandas.read_excel("../Reference_Data/ANOVA_TAJ.xlsx")
TTEST_Data=pandas.read_excel("../Reference_Data/ttest_Pre Post Score.xlsx")

## Data Exploration

In [16]:
ANOVA_Data

   Honey Chicken  Pepper Chicken  Spicy Chicken  Tandoori Chicken
0              7               6              8                 6
1              8               7              6                 5
2              8               7              6                 7
3              9               7              7                 6
4              8               5              7                 7
5              8               8              8                 6
6              8               6              6                 5

In [18]:
TTEST_Data

    Pre_Score  Post_Score
0          18          22
1          21          25
2          16          17
3          22          24
4          19          16
5          24          29
6          17          20
7          21          23
8          23          19
9          18          20
10         14          15
11         16          15
12         16          18
13         19          26
14         18          18
15         20          24
16         12          18
17         22          25
18         15          19
19         17          16

# Hypothesis Testing

## t-test